:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--foreground-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --background-color: #242424;
    --foreground-color: white;
    --soft-outline: rgb(65, 65, 65);
    --invert: none;
    --tooltip-background: none;

    --OBR-offset-fore: rgb(230, 230, 238);
    --OBR-offset-back: rgb(49, 49, 65);
    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-dark-blue-trans: rgba(30, 34, 49, 0.507);
    --OBR-light-blue: rgb(60, 62, 75);

    --dice-color: #159cc5;
    --BS-red: #A73335;
    --chat-input-width: 75%;
    --app-width: 499px;
    --header-min-width: 500px;
    --roller-padding: 4px 16px 4px 16px;
    --roller-font-weight: 700;
    --roller-button-width: "";
    --buttons-padding: 4px 16px 4px 16px;
    --invert: none;
    --invert-click: invert(52%) sepia(81%) saturate(5333%) hue-rotate(331deg) brightness(90%) contrast(88%);
    --safety-buttons-width: 30px;
}

@media (prefers-color-scheme: light) {
    :root {
        --invert: brightness(75%);
        --invert-click: none;
        --background-color: #e9e9e9;
        --foreground-color: rgb(49, 49, 49);
        --soft-outline: rgb(196, 196, 196);
        --invert: invert(.65);
        --invert-click: none;
        --tooltip-background: rgb(161, 161, 161);
        --OBR-offset-fore: rgb(44, 44, 46);
        --OBR-offset-back: rgb(210, 210, 223);
        --OBR-dark-blue: rgb(209, 210, 217);
        --OBR-light-blue: rgb(231, 233, 238);
        --OBR-dark-blue-trans: rgba(255, 255, 255, 0.507);
        --dice-color: #56bad8;
        --BS-red: #e07f80;
    }
}

body{
    padding: 10px;
}
#message
{
    text-align: center;
}
input,
button {
    color: var(--foreground-color);
    background-color: transparent;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 100%;
}

button {
    border-radius: 16px;
    border: 1px solid grey;
    cursor: pointer;
}